---
import Layout from '../../layouts/Layout.astro'
import PersonList from '../../components/PersonList.astro'
import tmdb from '../../tmdb.ts'

const { media_type, media_id } = Astro.params
const typeName = media_type == 'movie' ? 'Phim lẻ' : 'Phim bộ'
const res = await tmdb.get(`/${media_type}/${media_id}`, { append_to_response: 'credits' })
const data = await res.json()

if (!data.id) {
	return Astro.rewrite("/404")
}

const title = data.title || data.name
const originalTitle = data.original_title || data.original_name
const subtitle = () => {
	if (title != originalTitle) {
		return originalTitle
	}
	return ''
}
const date = data.release_date || data.first_air_date
const year = date.slice(0, 4)

const _title = `${title} (${year})`
const personList = [...data.credits.crew.filter(x => x.job == 'Director'), ...data.credits.cast]
---

<Layout title={_title}>
	<b>{typeName} / {_title}</b>
	<hr class="hr-dot">

	<div class="details">
		<div>
			<b>{title}</b>
			<div class="subtitle"><b>{subtitle}</b></div>
			<div class="genres">
				{data.genres.map((genre) => (
					<div class="genre">{genre.name}</div>
				))}
			</div>
			<p class="tagline"><i>{data.tagline}</i></p>
			<p>{data.overview}</p>
			<button class="btn btn-trailer">Xem Trailer</button>
		</div>
		<div class="frame">
			<img src={`https://image.tmdb.org/t/p/w300${data.poster_path}`} draggable="false" />
		</div>
	</div>

	<div>
		<b>Diễn viên</b>
		<hr class="hr-dash">
		<PersonList list={personList} />
	</div>
</Layout>

<style>
	.details {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1rem;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 2/3;
		}
	}
	p {
		margin: .6rem 0;
		line-height: 1.5rem;
		word-spacing: .15rem;
	}
	.subtitle {
		margin: .2rem 0;
		color: gray;
	}
	.tagline {
		color: gray;
	}
	.genres {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		margin: .8rem 0;
	}
	.genre {
		padding: .15rem .5rem;
		border: 1px dotted gray;
		text-transform: uppercase;
		text-align: center;
	}
	.btn-trailer {
		margin: 1rem 0;
		padding: .25rem 1.4rem;
	}
</style>
