---
import Layout from '../../layouts/Layout.astro'
import MediaList from '../../components/MediaList.astro'
import tmdb from '../../tmdb.ts'

const person_id = Astro.params.person_id
const person = await tmdb.get(`/person/${person_id}`, { append_to_response: 'combined_credits' })
const person_type = person.known_for_department == 'Acting' ? 'Diễn viên' : 'Đạo diễn'
let media_list = []
if (person.known_for_department == 'Acting') {
	media_list = person.combined_credits.cast
} else {
	media_list = person.combined_credits.crew.filter(x => x.job == 'Director')
}
---

<Layout title={person.name}>
	<b>{person_type} / {person.name}</b>
	<hr class="hr-dot">

	<div class="person">
		<div class="details">
			<b>{person.name}</b>
			<p>{person.biography}</p>
		</div>
		<div>
		<div class="frame">
			<img src={`https://image.tmdb.org/t/p/w300${person.profile_path}`} draggable="false" />
			<div class="frame-title">
				<span>{person.birthday}</span>
				{person.deathday && (<span>— {person.deathday}</span>)}
			</div>
		</div>
		</div>
	</div>

	<MediaList list={media_list} sort_by_date />
</Layout>

<style>
	.person {
		margin: 2rem 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		img {
			width: 100%;
			aspect-ratio: 2/3;
		}
	}
	.details {
		flex: 1;
		min-width: 22rem;
	}
	p {
		margin: .6rem 0;
		line-height: 1.5rem;
		word-spacing: .15rem;
	}
</style>
