---
const {list, sort_by_date} = Astro.props
const _list = list.filter(have_date).filter(have_poster)
if (sort_by_date) {
	_list.sort(by_date)
}
const movie_list = _list.filter(x => x.media_type == 'movie')
const tv_list = _list.filter(x => x.media_type == 'tv')


function get_year(media) {
	const date = media.release_date || media.first_air_date || ''
	return date.slice(0, 4)
}

function have_date(media) {
	return media.release_date || media.first_air_date
}

function have_poster(media) {
	return media.poster_path
}

function by_date(a, b) {
	const dateA = new Date(a.release_date || a.first_air_date || null)
	const dateB = new Date(b.release_date || b.first_air_date || null)
	return dateB - dateA
}
---

{movie_list.length > 0 && (
	<div class="media-type">
		<b>Phim lẻ</b>
		<hr class="hr-dash">
		<div class="list">
		{movie_list.map(item => (
			<a href={`/movie/${item.id}`} class="item frame">
				<img src={`https://image.tmdb.org/t/p/w300${item.poster_path}`} draggable="false" />
				<div class="frame-tag" style="top:0; left:0">{get_year(item)}</div>
				<div class="frame-tag" style="top:0; right:0">{item.original_language}</div>
				<div class="frame-title">{item.title}</div>
			</a>
		))}
		</div>
	</div>
)}

{tv_list.length > 0 && (
	<div class="media-type">
		<b>Phim bộ</b>
		<hr class="hr-dash">
		<div class="list">
		{tv_list.map(item => (
			<a href={`/tv/${item.id}`} class="item frame">
				<img src={`https://image.tmdb.org/t/p/w300${item.poster_path}`} draggable="false" />
				<div class="frame-tag" style="top:0; left:0">{get_year(item)}</div>
				<div class="frame-tag" style="top:0; right:0">{item.original_language}</div>
				<div class="frame-title">{item.name}</div>
			</a>
		))}
		</div>
	</div>
)}

<style>
	.media-type {
		margin: 1.5rem 0;
	}
	.list {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 1rem;
	}
	.item {
		position: relative;
		outline: none;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 2 / 3;
		}
	}
</style>
